/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: "Palatino Linotype", "Book Antiqua", Palatino,
  FreeSerif, serif !default;

// colors
$body-bg: #ebeafb !default;
$body-color: #000 !default;
$link-color: #312295 !default;
$selection-bg: #26351c !default;

// headings
$presentation-heading-font: "Palatino Linotype", "Book Antiqua", Palatino,
  FreeSerif, serif !default;
$presentation-heading-color: #383d3d !default;

/*-- scss:rules --*/

.reveal a {
  line-height: 1.3em;
}

/* ---- Slide layout adjustments ---- */
.reveal {
  font-size: 0.9em;  // smaller global text
  zoom: 0.9;         // slightly zoomed out overall
}

.reveal .slides {
  max-width: 90% !important; // prevent slide content from touching edges
}