/*-- scss:defaults --*/

// Title font (only top-level presentation title)
$presentation-title-font: "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif !default;

// Everything else uses Helvetica
$presentation-heading-font: "Helvetica", "Arial", sans-serif !default;
$body-font-family: "Helvetica", "Arial", sans-serif !default;
$code-font-family: "Helvetica", "Arial", sans-serif !default;

/*-- scss:rules --*/

.reveal p,
.reveal li,
.reveal table,
.reveal figcaption,
.reveal span,
.reveal small {
  font-family: "Helvetica", "Arial", sans-serif !important;
}

.reveal .title-slide h1 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif !important;
  font-size: 2.4em;
  font-weight: bold;
}

.reveal h1:not(.title),
.reveal h2,
.reveal h3,
.reveal h4 {
  font-family: "Helvetica", "Arial", sans-serif !important;
}

// colors
$body-bg: #ebeafb !default;
$body-color: #000 !default;
$link-color: #312295 !default;
$selection-bg: #26351c !default;

// headings
$presentation-heading-font: "Palatino Linotype", "Book Antiqua", Palatino,
  FreeSerif, serif !default;
$presentation-heading-color: #383d3d !default;


.reveal a {
  line-height: 2.0em;
}

/* ---- Slide layout adjustments ---- */
.reveal {
  font-size: 1.5em;  // smaller global text         // slightly zoomed out overall
}

.reveal .slides {
  max-width: 90% !important; // prevent slide content from touching edges
}